@use "../styles/utilities" as *;

.ip-container {
	display: grid;
	place-content: center;
	& > * {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
	}

	.input-area {
		padding-inline: pxTOrem(16px, em);
		max-width: pxTOrem(1200px);
		margin-inline: auto;
		display: grid;
		place-items: center;
		grid-column: 1 / -1;
		grid-row: 1 / -1;

		.input {
			background-color: white;
			display: flex;
			border-radius: pxTOrem(14px);
			width: pxTOrem(480px);
			overflow: hidden;
			justify-content: space-between;

			input {
				all: unset;
				padding-inline: pxTOrem(16px, em);
				flex-grow: 2;
			}

			button {
				all: unset;
				background-color: map-get($color, "DarkGrey");
				padding-block: pxTOrem(24px, em);
				padding-inline: pxTOrem(24px, em);
				cursor: pointer;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				display: grid;
				place-items: center;
				&:active {
					background-color: darken(
						map-get($color, "DarkGrey"),
						$amount: 30
					);
				}
			}
		}
	}
}
