@use "../styles/utilities" as *;

.ip-container {
	container-type: inline-size;
	display: grid;
	place-content: center;
	& > * {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
	}

	.input-area {
		padding-inline: pxTOrem(16px, em);
		max-width: pxTOrem(1200px);
		margin-inline: auto;
		display: grid;
		place-items: center;
		grid-column: 1 / -1;
		grid-row: 1 / -1;
	}
}
.input {
	background-color: white;
	display: flex;
	border-radius: pxTOrem(14px, em);
	width: pxTOrem(480px, em);
	max-width: pxTOrem(480px);
	overflow: hidden;
	justify-content: space-between;
	input {
		all: unset;
		padding-inline: pxTOrem(16px, em);
		flex-grow: 2;
	}
	button {
		all: unset;
		background-color: map-get($color, "DarkGrey");
		padding-block: pxTOrem(24px, em);
		padding-inline: pxTOrem(24px, em);
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		display: grid;
		place-items: center;
		&:active {
			background-color: darken(map-get($color, "DarkGrey"), $amount: 30);
		}
	}
}
.ipTracker {
	position: relative;
	min-height: 10dvh;
}
.stats {
	width: 100%;
	aspect-ratio: 16/2.5;
	background-color: transparent;
	padding-inline: pxTOrem(16px, em);
	border-radius: pxTOrem(8px);
	margin: auto;
	position: absolute;
	bottom: pxTOrem(-154px);
	right: 50%;
	translate: 50%;
	z-index: 100;
}
.stats-content {
	width: clamp(pxTOrem(200px), 100%, pxTOrem(1100px));
	margin: auto;
	aspect-ratio: 16/2.5;
	background-color: rgb(255, 255, 255);
	border-radius: pxTOrem(8px);
	display: grid;
	place-items: center;
	padding-inline: pxTOrem(20px, em);
	padding-block: pxTOrem(16px, em);
}
.stats-items {
	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(pxTOrem(250px), 1fr)
	);
	@media (max-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
	}
	width: 100%;
	place-items: center;
	justify-content: space-between;
	.item {
		width: 100%;
		h4 {
			font-size: pxTOrem(12px);
			text-transform: uppercase;
			color: grey;
		}
		p {
			font-size: pxTOrem(24px);
			font-variation-settings: map-get($fontWeight, "bold");
		}
	}
}
@container (max-width:600px) {
	.input {
		font-size: 14px;
	}
}

@container (max-width:600px) {
	.input {
		width: pxTOrem(300px, em);
	}
}

@media (max-width: 688px) {
	:root {
		font-size: 14px;
	}
}

@media (max-width: 568px) {
	:root {
		font-size: 10px;
	}
}

@media (max-width: 468px) {
	:root {
		font-size: 8px;
	}
}
